{% extends 'base.html' %}
{% block title %}
  Sample Page
{% endblock %}
{% block content %}
{% load static %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

<div class="container-fluid">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right"></ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card" style="background-color: #3680a3;">
              <div class="card-body">
                <div class="card-body d-flex justify-content-center">
                  <img src="{% static 'assets/img/ENERGY.png' %}" alt="energy"  class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">         
          <div class="col-md-12">
            <div class="card" style="background-color: #343a40;">
              <div class="card-body">
                <h1 style="color: aliceblue;"><b>POWER READING</b></h1>
                <div class="row">
                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-body">
                        <canvas id="CurrentChart"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-body">
                        <canvas id="CurrentPieChart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-body">
                        <canvas id="VoltageChart"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-body">
                        <canvas id="VoltagePieChart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <canvas id="KwhChart" style="height: 50px; width: 200px;"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="card" style="background-color: #343a40;">
              <div class="card-body">
                <div class="card-body d-flex justify-content-center">
                  <a href="https://codecain.tech" target="_blank">
                    <img src="{% static 'assets/img/Lost an item.png' %}" alt="lost and found" height="220" width="1000">
                  </a>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script>
    const data = {
      current: [
        { label: 'Room 1', value: 2.23 },
        { label: 'Room 2', value: 1.69 },
        { label: 'Room 3', value: 2.22 },
        { label: 'Room 4', value: 1.84 },
        { label: 'Room 5', value: 1.82 },
      ],
      voltage: [
        { label: 'Room 1', value: 237.58 },
        { label: 'Room 2', value: 230.22 },
        { label: 'Room 3', value: 234.95 },
        { label: 'Room 4', value: 233.72 },
        { label: 'Room 5', value: 239.37 },
      ],
      kwh: [
        { label: 'Room 1', value: 27.848 },
        { label: 'Room 2', value: 29.099 },
        { label: 'Room 3', value: 28.012 },
        { label: 'Room 4', value: 27.131 },
        { label: 'Room 5', value: 30.21 },
      ],
    };

    // For Current Line Chart
    const currentLabels = data.current.map(room => room.label);
    const currentValues = data.current.map(room => room.value);
    const currentPieValues = currentValues.map(value => (value / currentValues.reduce((a, b) => a + b, 0)) * 100);

    var ctxCurrent = document.getElementById('CurrentChart').getContext('2d');
    var myCurrentChart = new Chart(ctxCurrent, {
      type: 'line',
      data: {
        labels: currentLabels,
        datasets: [{
          label: 'Current (A)',
          data: currentValues,
          fill: false,
          borderColor: 'rgba(75, 192, 192, 1)',
          tension: 0.1
        }]
      },
      options: {
        scales: {
          x: {
            beginAtZero: true
          },
          y: {
            beginAtZero: true
          }
        }
      }
    });

    var ctxCurrentPie = document.getElementById('CurrentPieChart').getContext('2d');
    var myCurrentPieChart = new Chart(ctxCurrentPie, {
      type: 'pie',
      data: {
        labels: currentLabels,
        datasets: [{
          data: currentPieValues,
          backgroundColor: [
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top'
          }
        }
      }
    });

    // For Voltage Line Chart
    const voltageLabels = data.voltage.map(room => room.label);
    const voltageValues = data.voltage.map(room => room.value);
    const voltagePieValues = voltageValues.map(value => (value / voltageValues.reduce((a, b) => a + b, 0)) * 100);

    var ctxVoltage = document.getElementById('VoltageChart').getContext('2d');
    var myVoltageChart = new Chart(ctxVoltage, {
      type: 'line',
      data: {
        labels: voltageLabels,
        datasets: [{
          label: 'Voltage (V)',
          data: voltageValues,
          fill: false,
          borderColor: 'rgba(255, 206, 86, 1)',
          tension: 0.1
        }]
      },
      options: {
        scales: {
          x: {
            beginAtZero: true
          },
          y: {
            beginAtZero: true
          }
        }
      }
    });

    var ctxVoltagePie = document.getElementById('VoltagePieChart').getContext('2d');
    var myVoltagePieChart = new Chart(ctxVoltagePie, {
      type: 'pie',
      data: {
        labels: voltageLabels,
        datasets: [{
          data: voltagePieValues,
          backgroundColor: [
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top'
          }
        }
      }
    });

    // For kWh Chart
    const kWhLabels = data.kwh.map(room => room.label);
    const kWhValues = data.kwh.map(room => room.value);

    var ctxKwh = document.getElementById('KwhChart').getContext('2d');
    var myKwhChart = new Chart(ctxKwh, {
      type: 'line',
      data: {
        labels: kWhLabels,
        datasets: [{
          label: 'kWh (kiloWatt-hour)',
          data: kWhValues,
          fill: false,
          borderColor: 'rgba(153, 102, 255, 1)', // Different color for KWh Chart
          tension: 0.1
        }]
      },
      options: {
        scales: {
          x: {
            beginAtZero: true
          },
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
{% endblock %}
