{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Sidebar logo -->
            <div id="one">
                <img src="{% static 'assets/img/logofinal.png' %}" height="100" width="200">
            </div>

            <!-- Sidebar items -->
            <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link {% if request.path == '/' %}{% endif %}">
                  
                   <p style="color: aliceblue; font-size: 17px;"><i class="fa-solid fa-gauge" style="color: aliceblue;"></i> DASHBOARD</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'room' %}" class="nav-link">
                    <p style="color: aliceblue; font-size: 17px;"><i class="fa-solid fa-building" style="color: aliceblue;"></i> ROOM</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'user' %}" class="nav-link">
                    <p style="color: aliceblue; font-size: 17px;"> <i class="fa-solid fa-users" style="color: aliceblue;"></i> USER</p>
                </a>
            </li>
        </ul>
    </nav>
</aside>
